[submodule "libultraship"]
	path = libultraship
	url = https://github.com/kenix3/libultraship.git
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/harbourmasters/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
[submodule "soh/lib/lua"]
	path = soh/lib/lua
	url = https://github.com/lua/lua
[submodule "soh/lib/luajit/luajit"]
	path = soh/lib/luajit/luajit
	url = https://luajit.org/git/luajit.git
